/* Variables and mixins declared here will be available in all other SCSS files */

$primary-colour: hsl(0, 0%, 100%);

@mixin card {
	box-shadow: -5px 10px 0px 2px hsl(19, 100%, 59%);
	border: 1px solid black;
	padding: 2rem;
}

@mixin list-item {
	@include card;
	border-left: 20px solid black;
	margin: 1.5rem 0;
	transition: 0.2s;

	&:hover {
		transform: translateY(-10px);
	}
}

$font-mono: 'Fira Mono', monospace;
$pure-white: #ffffff;
// $primary-color: #b9c6d2;
$primary-color: #ab8476;
// $secondary-color: #d0dde9;
$secondary-color: #96705b;
// $tertiary-color: #edf0f8;
$tertiary-color: #684756;
// $accent-color: #ff3e00;
$accent-color: #3d314a;
$heading-color: rgba(0, 0, 0, 0.7);
$text-color: #444444;
$background-without-opacity: rgba(255, 255, 255, 0.7);
$column-width: 42rem;
$column-margin-top: 4rem;

$doug-orange: hsl(19, 100%, 59%);
$doug-brown: hsl(21, 100%, 81%);
