/* Variables and mixins declared here will be available in all other SCSS files */

$mob-breakpoint: 600px;

$primary-colour: hsl(0, 0%, 100%);

@mixin list-item {
	border: 1px solid black;
	box-shadow: -5px 5px 0px 2px $doug-brown;
	margin: 1.5rem 0;
	transition: 0.2s;
	animation-timing-function: ease-in-out;

	&:hover {
		transform: translateY(-10px);
		box-shadow: -8px 18px 0px 2px $doug-brown;
	}
}

$font-mono: 'Fira Mono', monospace;
$pure-white: #ffffff;
// $primary-color: #b9c6d2;
$primary-color: #ab8476;
// $secondary-color: #d0dde9;
$secondary-color: #96705b;
// $tertiary-color: #edf0f8;
$tertiary-color: #684756;
// $accent-color: #ff3e00;
$accent-color: #3d314a;
$heading-color: rgba(0, 0, 0, 0.7);
$text-color: #444444;
$background-without-opacity: rgba(255, 255, 255, 0.7);
$column-width: 42rem;
$column-margin-top: 4rem;

$doug-orange: hsl(359, 58%, 39%);
$doug-brown: hsl(194, 35%, 30%);

//  from next proj
$primary: #f3f3f3;
$secondary: hsl(18, 100%, 72%);
$fontColour: black;
$linkUnvisited: red;
$primaryCTA: blue;
$spacing1: 0.5rem;
$spacing2: 1rem;
$spacing3: 1.5rem;
$spacing4: 2rem;
$themeRed: hsl(359, 58%, 39%);
$themeGreyBlue: hsl(194, 35%, 30%);
$themeCream: hsl(51, 100%, 85%);
$themeGold: hsl(36, 72%, 56%);
$themeDarkRed: hsl(358, 77%, 19%);
$mainWidth: 900px;
